* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #091e45, #2a5298);
  color: white;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.category-btn {
  background-color: #091e45;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid white;
  width: 70vw;
}

.category-btn:hover {
  background-color: #444;
}

.category-btn:active {
  background-color: #555;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

#img {
  border-radius: 1rem;
  max-height: 70vh;
  max-width: 90vw;
  object-fit: contain;
  transition: opacity 300ms;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

#shapeImg {
  border-radius: 1rem;
  max-height: 70vh;
  max-width: 90vw;
  object-fit: contain;
}

#colourDiv {
  width: 60vw;
  height: 70vh;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.carousel-btn:hover {
  background-color: rgba(74, 74, 74, 0.5);
}

.home-btn {
  margin: 1rem;
}

.title {
  width: 70vw;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
  font-size: 24px;
  margin-top: 1rem;
  transition: opacity 300ms;
}

@media (min-width: 600px) {
  .category-btn {
    width: 20vw;
  }
  .title {
    width: 50vw;
  }
}
